p{
    color:#008BF8;
    font-size: 18px;
}
li{
    color:#66717E;
    font-size: 20px;
}
h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#F4743B;
}
body{
    background-color: #D1CAA1;
}
img{
    border-radius:10px;
}
h2{
    color: white;
    font-size: 42px;
    text-shadow: 2px 2px #000;
}